.footer {
  background: #2037ff;
  color: white;
  width: 100%;
  
  padding: 8px 0;   
}

.footer-container {
  display: flex;
  align-items: center;      
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;        
}

.logoF {
  height: 45px;              
  width: auto;
  object-fit: contain;
  flex-shrink: 0;            
  transition: transform 0.3s ease;
}

.logoF:hover {
  transform: scale(1.05);
}

.socials {
  display: flex;
  gap: 12px;
  margin-left: 10px;;
}

.socials a {
  color: white;
  font-size: 18px;
  transition: 0.3s;
}


.socials a:hover {
  transform: translateY(-2px) scale(1.1);
  color: #00c6ff;
}