.footer {
  width: 100%;
  background: #08162d;

  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.footer-icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 22px;
  color: white;
  transition: 0.3s;
}

.icon:hover {
  transform: translateY(-3px);
}

.instagram:hover {
  color: #e1306c;
}

.facebook:hover {
  color: #1877f2;
}

.linkedin:hover {
  color: #0a66c2;
}