.servicos-container {
  padding: 40px;
  text-align: center;
  min-height: 80vh;
  background: #008fff;
  color: rgb(255, 255, 255);
  background: linear-gradient(to bottom, #38a9f5, #053a6e);
}

.servicos-container h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.form-busca {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.form-busca input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  min-width: 180px;
}

.form-busca button {
  padding: 12px 20px;
  border: none;
  background: #00bfff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.titulo-voo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
}

.form-busca button:hover {
  background: #009acd;
}

.resultados {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.btn-comprar {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.card-voo {
  background: #050404a9;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  transition: 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-voo:hover {
  transform: translateY(-5px);
}

.card-voo h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.preco {
  font-size: 1.1rem;
  color: #9bebfffa;
  margin: 10px 0;
}

.card-voo button {
  background: #00bfff;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.card-voo button:hover {
  background: #009acd;
}

.companhia {
  font-size: 0.9rem;
  color: #ffffff;
  margin-bottom: 8px;
}