.cadastro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;

  background-image: url("../../photos/fundocadastro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.cadastro-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.cadastro-box {
  position: relative;
  z-index: 1;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);

  padding: 40px 30px;
  border-radius: 15px;
  width: 320px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  color: white;
  text-align: center;

  animation: fadeIn 0.6s ease;
}

.cadastro-logo {
  width: 120px;
  height: auto;
  align-self: center;
  margin-bottom: 5px;
}

.cadastro-titulo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cadastro-input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 14px;

  background: rgba(255, 255, 255, 0.15);
  color: white;

  transition: all 0.3s ease;
}

.cadastro-input::placeholder {
  color: #ddd;
}

.cadastro-input:focus {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.01);
}

.cadastro-btn {
  margin-top: 10px;
  padding: 12px;

  border: none;
  border-radius: 10px;

  background: #ffffff;
  color: #2037ff;

  font-weight: bold;
  cursor: pointer;

  transition: all 0.3s ease;
}

.cadastro-btn:hover {
  background: #000;
  color: #fff;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .cadastro-box {
    width: 90%;
    padding: 30px 20px;
  }

  .cadastro-logo {
    width: 70px;
  }
}